{% extends 'base.html.twig' %}

{% block title %}Hello MessagesController!{% endblock %}

{% block body %}






<div class="row">
    <div class="col-md-6">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet">
            <div class="portlet-title">

                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                    <a href="javascript:;" class="reload"> </a>
                    <a href="javascript:;" class="remove"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-advance table-hover">
                        <thead>
                        <tr>
                            <th>
                                 Nr. Crt. </th>
                            <th class="hidden-xs">
                                 First Name </th>
                            <th>
                                 Last Name </th>
                            <th>
                                 Email </th>
                            <th>
                                 Phone </th>
                        </tr>
                        </thead>
                        <tbody>
                                {% for user in users %}
                                        <tr>
                                            <td class="highlight">
                                                <div class="success"></div>
                                                <a href="javascript:;"> {{ loop.index }} </a>
                                            </td>
                                            <td class="hidden-xs"> {{ user.first_name }} </td>
                                            <td> {{ user.last_name }} </td>
                                            <td> {{ user.email }} </td>
                                            <td> {{ user.phone }} </td>
                                        </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>


{% endblock %}










