{% extends 'base.html.twig' %}

{% block title %}Hello MessagesController!{% endblock %}

{% block body %}




        <div class="container">
                <div class="row">
                        <div class="kt-portlet kt-portlet--height-fluid">
                                <div class="kt-portlet__body">
                                        <div class="kt-widget kt-widget--user-profile-3">
                                                <div class="kt-widget__top">
                                                        <div class="kt-widget__media kt-hidden-">
                                                                <img src="/images/avatar.jpg" id="aiurea" alt="image">
                                                        </div>
                                                        <div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-boldest kt-font-light kt-hidden">
                                                                JM
                                                        </div>

                                                        {% if person.roles[0] == "ROLE_ADMIN" %}
                                                                {% set cer = "/admin/generateCertificate/" %}
                                                        {% endif %}
                                                        <div class="kt-widget__content">
                                                                <div class="kt-widget__head">
                                                                        {% set cer = "/user/generateCertificate" %}
                                                                        {% if person.roles[0] == "ROLE_ADMIN" %}
                                                                                       <a href="/admin/generateCertificate/{{ person.id }}" class="kt-widget__username">
                                                                        {% else %}
                                                                                       <a href="{{ cer }}" class="kt-widget__username">
                                                                        {% endif %}





                                                                                                {{ person.firstName }} {{ person.lastName }}
                                                                                                {% if person.roles[0] == "ROLE_ADMIN" %}
                                                                                                        <i class="flaticon2-correct"></i>
                                                                                                {% else %}
                                                                                                        <i class="flaticon-avatar"></i>
                                                                                                {% endif %}

                                                                                        </a>&nbsp;&nbsp;&nbsp;<h5>
                                                                                                       {% if person.roles[0] == "ROLE_ADMIN" %}
                                                                                                                       <a href="/admin/generateCertificate/{{ person.id }}">
                                                                                                       {% else %}
                                                                                                                               <a href="{{ cer }}">
                                                                                                       {% endif %}
                                                                                                                               CERTIFICATE <i class="flaticon-psd"></i> </a> </h5>


                                                                        <div class="kt-widget__action">

                                                                        </div>
                                                                </div>

                                                                <div class="kt-widget__subhead">
                                                                        <a href="#"><i class="flaticon2-new-email"></i>{{ person.email }}</a>
                                                                        <a href="#"><i class="flaticon2-calendar-3"></i>{{ person.phone }} </a>
                                                                        <a href="#"><i class="flaticon2-placeholder"></i>
                                                                                {% if person.roles[0] == "ROLE_ADMIN" %}
                                                                                        administrator
                                                                                {% else %}
                                                                                        user
                                                                                {% endif %}
                                                                        </a>
                                                                </div>

                                                                <div class="kt-widget__info">
                                                                        <div class="kt-widget__desc">
                                                                                {% if person.benefits is defined %}
                                                                                        <p> Benfits :  &nbsp;
                                                                                        {% set ok = 1 %}
                                                                                        {% for benefit in person.benefits %}
                                                                                                {{ benefit.name }},
                                                                                                {% if loop.index > 5 and ok == 1 %}
                                                                                                        </p> <br/> <p>
                                                                                                        {% set ok = 0 %}
                                                                                                {% endif %}

                                                                                        {% endfor %}
                                                                                        </p>

                                                                                {% else %}
                                                                                        <p> no benefits yet </p>
                                                                                {% endif %}
                                                                        </div>
                                                                        <div class="kt-widget__progress">
                                                                                <div class="kt-widget__text">
                                                                                        Free
                                                                                </div>
                                                                                <div class="progress" style="height: 5px;width: 100%;">
                                                                                        <div class="progress-bar kt-bg-success" role="progressbar" style="width: {{ (person.freeDays * 100 / 21)|round }}%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                                                                </div>
                                                                                <div class="kt-widget__stats">
                                                                                        {{ (person.freeDays * 100 / 21)|round }}%
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="kt-widget__bottom">
                                                        <div class="kt-widget__item">
                                                                <div class="kt-widget__icon">
                                                                        <i class="flaticon-piggy-bank"></i>
                                                                </div>
                                                                <div class="kt-widget__details">
                                                                        <span class="kt-widget__title">Free days</span>
                                                                        <span class="kt-widget__value"><span></span>{{ person.freeDays }}</span>
                                                                </div>
                                                        </div>

                                                        <div class="kt-widget__item">
                                                                <div class="kt-widget__icon">
                                                                        <i class="flaticon-confetti"></i>
                                                                </div>
                                                                <div class="kt-widget__details">
                                                                        <span class="kt-widget__title">Benefits</span>
                                                                        <span class="kt-widget__value"><span></span>{{ person.benefits|length }}</span>
                                                                </div>
                                                        </div>

                                                        <div class="kt-widget__item">
                                                                <div class="kt-widget__icon">
                                                                        <i class="flaticon-pie-chart"></i>
                                                                </div>
                                                                <div class="kt-widget__details">
                                                                        <span class="kt-widget__title">Id</span>
                                                                        <span class="kt-widget__value"><span></span>{{ person.id }}</span>
                                                                </div>
                                                        </div>



                                                        {% if person.roles[0] == "ROLE_ADMIN" %}
                                                                <div class="kt-widget__item">
                                                                        <div class="kt-widget__icon">
                                                                                <i class="flaticon-chat-1"></i>
                                                                        </div>
                                                                        <div class="kt-widget__details">
                                                                                <span class="kt-widget__title">Messages on hold</span>
                                                                                <a href="#" class="kt-widget__value kt-font-brand">{{ person.messages|length }}</a>
                                                                        </div>
                                                                </div>
                                                        {% elseif person.roles[0] == "ROLE_USER" %}
                                                                {% set nr = 0 %}
                                                                {% for request in person.demands %}
                                                                        {% if request.status == 1 %}
                                                                                {% set nr = nr + 1 %}
                                                                        {% endif %}
                                                                {% endfor %}
                                                                <div class="kt-widget__item">
                                                                        <div class="kt-widget__icon">
                                                                                <i class="flaticon-chat-1"></i>
                                                                        </div>
                                                                        <div class="kt-widget__details">
                                                                                <span class="kt-widget__title">Requests on hold</span>
                                                                                <a href="#" class="kt-widget__value kt-font-brand">{{ nr }}</a>
                                                                        </div>
                                                                </div>
                                                        {% endif %}

                                                        {% if person.roles[0] == "ROLE_USER" %}
                                                                <div class="kt-widget__item">
                                                                        <div class="kt-widget__icon">
                                                                                <i class="flaticon-file-2"></i>
                                                                        </div>
                                                                        <div class="kt-widget__details">
                                                                                <span class="kt-widget__title">Total requests</span>
                                                                                <a href="#" class="kt-widget__value kt-font-brand">{{ person.demands|length }}</a>
                                                                        </div>
                                                                </div>
                                                        {% else %}
                                                                <div class="kt-widget__item">
                                                                        <div class="kt-widget__icon">
                                                                                <i class="flaticon-file-2"></i>
                                                                        </div>
                                                                        <div class="kt-widget__details">
                                                                                <span class="kt-widget__title">Requests on hold</span>
                                                                                <a href="#" class="kt-widget__value kt-font-brand">
                                                                                        {% set nr = 0 %}
                                                                                        {% for demand in demands %}
                                                                                                {% if demand.status == 1 %}
                                                                                                        {% set nr = nr + 1 %}
                                                                                                {% endif %}
                                                                                        {% endfor %}
                                                                                        {% if nr == 0 %}
                                                                                                nothing
                                                                                        {% else %}
                                                                                                {{ nr }}
                                                                                        {% endif %}
                                                                                </a>
                                                                        </div>
                                                                </div>
                                                        {% endif %}

                                                </div>
                                        </div>

                                        {% if nr > 0 %}

                                                <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>
                                                {% if person.roles[0] == "ROLE_ADMIN" %}
                                                        <span class="kt-widget__title">
                                                                <i class="flaticon-danger"></i>
                                                                &nbsp; {{ ml_service.mostWantedCatcher()[0] }}&nbsp; of total demands were made on &nbsp;
                                                                {% for data in ml_service.mostWantedCatcher() %}
                                                                        {% if loop.index != 1 and loop.index < 8 %}
                                                                                {{ data }} &nbsp;
                                                                        {% endif %}
                                                                {% endfor %}
                                                                in the last 3 years .
                                                        </span>

                                                        <span class="kt-widget__title">
                                                                <i class="flaticon-diagram"></i>
                                                                &nbsp;
                                                                &nbsp;{{ ml_service.mostWantedCatcherMonth()[0] }}% &nbsp; of total events of all times were placed in
                                                                {{ ml_service.mostWantedCatcherMonth()[1] }} .
                                                        </span>
                                                        <div class="kt-separator kt-separator--space-sm  kt-separator--border-dashed"></div>

                                                {% endif %}
                                                <div class="kt-section">
                                                        <div class="kt-section__content">
                                                                <table class="table">
                                                                        <thead class="thead-dark">
                                                                        <tr>
                                                                                <th>#</th>
                                                                                <th>User</th>
                                                                                <th>Email</th>
                                                                                <th>Phone</th>
                                                                                <th>Date</th>
                                                                                <th>Duration</th>
                                                                                <th></th>
                                                                                <th></th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                                {% for demand in demands %}
                                                                                        <tr>
                                                                                                <th scope="row">{{ loop.index }}</th>
                                                                                                <td>{{ demand.employee.firstName }}</td>
                                                                                                <td>{{ demand.employee.email }}</td>
                                                                                                <td>{{ demand.employee.phone }}</td>
                                                                                                <td>{{ demand.date|date('d-m-Y') }}</td>
                                                                                                <td>{{ demand.duration }}</td>
                                                                                                <td>
                                                                                                        <a href="/demand/accept/{{ demand.id }}" class="btn btn-outline btn-circle btn-sm purple">
                                                                                                                <i class="flaticon-like"></i>
                                                                                                                Accept
                                                                                                        </a>
                                                                                                </td>
                                                                                                <td>
                                                                                                        <a href="/demand/decline/{{ demand.id }}" class="btn btn-outline btn-circle btn-sm purple">
                                                                                                                <i class="flaticon-circle"></i>
                                                                                                                Decline
                                                                                                        </a>
                                                                                                </td>
                                                                                        </tr>
                                                                                {% endfor %}
                                                                        </tbody>
                                                                </table>
                                                        </div>
                                                </div>
                                        {% endif %}
                                </div>
                        </div>
                </div>
        </div>
{% endblock %}



{% block jsScripts %}
        {{ parent() }}
        <script src="{{ asset('assets/js/main.js') }}" type="text/javascript"></script>
{% endblock %}
